<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="allProducts()">All products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="allShops()">All shops</a>
    </li>
    <li class="nav-item" uib-dropdown>
	
      <a class="nav-link" href id="simple-dropdown" uib-dropdown-toggle>
        Choose shops
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="s in allShop">
          <li role="menuitem"><a href="#">{{s.naziv}}</a></li>
       
        </li>
      </ul>
    
	</li>
  </ul>
  
</nav>