
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button ng-click ="dodajSlog()" id="singlebutton1" name="singlebutton1" class="btn btn-primary">Add</button>
  	<button ng-click ="izmeniSlog()" id="singlebutton2" name="singlebutton2" class="btn btn-primary">Edit</button>
 	<button ng-click ="obrisiSlog()" id="singlebutton3" name="singlebutton3" class="btn btn-primary">Delete</button>
  </div>
</div>

