
<form class="form-horizontal">
	<fieldset>

		<!-- Form Name -->
		<legend>Form Name</legend>

		<!-- Text input-->
		<!--  
<div class="form-group">
  <label class="col-md-4 control-label" for="ID">ID</label>  
  <div class="col-md-4">
  <input id="ID" name="ID" type="text" ng-model="product.sifra" placeholder="ID" class="form-control input-md" required="">
    
  </div>
</div>
-->
		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Name</label>
			<div class="col-md-4">
				<input id="textinput" name="textinput" type="text"
					ng-model="product.naziv" placeholder="Name"
					class="form-control input-md" required="">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Color</label>
			<div class="col-md-4">
				<input id="textinput" name="textinput" type="text"
					ng-model="product.boja" placeholder="Color"
					class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Country
			</label>
			<div class="col-md-4">
				<input id="textinput" name="textinput" type="text"
					placeholder="Country" ng-model="product.zemlja"
					class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Quantity</label>
			<div class="col-md-4">
				<input id="textinput" name="textinput" type="text"
					ng-model="product.kolicina" placeholder="Quantity"
					class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="textinput">Dimension</label>
			<div class="col-md-4">
				<input id="textinput" name="textinput" type="text"
					ng-model="product.dimenzija" placeholder="Dimension"
					class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="Weight">Weight</label>
			<div class="col-md-4">
				<input id="Weight" name="Weight" ng-model="product.tezina"
					type="text" placeholder="Weight" class="form-control input-md">

			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="Weight">Price</label>
			<div class="col-md-4">
				<input id="Price" name="Price" ng-model="product.cena" type="text"
					placeholder="Price" class="form-control input-md">

			</div>
		</div>

		<!-- File Button
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Choose image</label>
  <div class="col-md-4">
    <input type="file" name="myImage" image-with-preview ng-model="slika" accept="image/jpeg,image/png">
    <span class="error" ng-show="myForm.myImage.$error.image">
        Not a JPEG or a PNG!
    </span>
    <img ng-show="image.src" ng-src="{{image.src}}"/></div>
</div>
 -->
		<!-- Button (Double) -->

		<div class="form-group">
			<label class="col-md-4 control-label" for="selectbasic">Select
				shop</label>
			<div class="col-md-4">
				<select  ng-init="selektovani" id="selectbasic" name="selectbasic" class="form-control"
					ng-model="shopSelected" ng-change="changedValue(shopSelected)"
					data-ng-options="shopS as shopS.naziv for shopS in shops"
					class="form-control" >
					
				</select>
			</div>
		</div>
		<div class="form-group" ng-show="editFlag">
			<label class="col-md-4 control-label" for="button1id"></label>
			<div class="col-md-8">
				<button id="button1id" name="button1id" ng-click="editSlog()"
					class="btn btn-success">OK</button>
				<button id="cancel" name="cancel" ng-click="cancelSlog()"
					class="btn btn-danger">Cancel</button>
			</div>
		</div>

		<div class="form-group" ng-show="addFlag">
			<label class="col-md-4 control-label" for="button1id"></label>
			<div class="col-md-8">
				<button id="button1id" name="button1id" ng-click="addSlog()"
					class="btn btn-success">OK</button>
				<button id="cancel" name="cancel" ng-click="cancelSlog()"
					class="btn btn-danger">Cancel</button>
			</div>
		</div>

		<div id="alert_placeholder"></div>
	</fieldset>
</form>
