

    
    
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                 
                <div ng-repeat="shop in allShops" class="list-group">
                    <a ui-sref="selectShop({shop : '{{shop.naziv }}' })" class="list-group-item">{{shop.naziv}}</a>
                </div>
               <span class="glyphicons glyphicons-shopping-cart"></span>
             	<a type="button" ui-sref="shoppingCart()" class="btn btn-success" >Kupljeno</a>
             	
            </div>

            <div class="col-md-9">


                <div class="row">
					<div ng-repeat="product in allProducts">
                    <div class="col-sm-4 col-lg-4 col-md-4" >
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
                                <h4 class="pull-right">${{product.cena}}</h4>
                                <h4><a href="#">{{product.naziv}}</a>
                                </h4>
                                
                            </div>
							<div class="form-group">
							  <label class="col-md-4 control-label" for="textinput">Dodaj</label>  
							  <div class="col-md-4">
							  <input id="textinput" name="textinput" ng-model="kolicina" type="text" placeholder="Kolicina" class="form-control input-md">
							    
							  </div>
						
							  <label class="col-md-4 control-label" for="singlebutton"></label>
							  <div class="col-md-4">
							    <button id="singlebutton" ng-click="addToShoppingCart(product,kolicina)" name="singlebutton" class="btn btn-success">Kupi</button>
							  </div>
							</div>
											
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    

     			</div>              

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
	
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


